/* pre treatement */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	background-color: rgb(10, 10, 10);
}
/* h2 标题样式 */
h2{
	
	margin: 0px 5px;
	font-weight: bold!;
	font-size: 30px!;
	color: rgb(255, 255, 255);
}
.link-item li{
	list-style: none;
	float: left;
	background: rgb(241, 61, 61);
	border-radius: 12px;
	width: 200px;
	height: 120px;
	margin: 2px 11px;
	/* 转换速度 */
	transition: transform 0.6s ease;
}
/* img设置 效果 */
.link img{
	position: relative;
	top: 18px;
	left: 62px;
	/* 剪切图片为三角形*/
	clip-path: polygon(0% 0,100% 52%,50% 77%,0 100%);
		/* 转换速度 */
	transition: display 0.3s ease;
	opacity: 0.7;
	width: 85px;
	height: auto;
	/* 转换速度 */
	transition: opacity 0.6s ease;
}
/* 描述文字设置 效果 */
.link .mask-des{
	position: relative;
	top: -40px;
	left: 27px;
	color: #ffffff;
	opacity: 0;
	height: 120px;
	width: 200px;
	display: flex;
	border-radius: 12px;
	font-size: 13px;
	/* 转换速度 */
	transition: transform 0.6s ease;
}
/* 描述文字 水平上下居中 */
.mask-des span{
	text-align: center;
	vertical-align:middle;      
}

/* 当 鼠标悬浮到单个项时 设置描述文字的样式 */
.link:hover .mask-des {
	opacity: 1;
	/* 增加元素的大小*/
	-webkit-transform: scale(1.1, 1.1);
	/* Safari */
	-ms-transform: scale(1.1, 1.1);
	/* IE 9 */
	transform: scale(1.1, 1.1);
}
/* 当 鼠标悬浮到单个项时 设置描述文字的样式 */
.link:hover img{
	opacity: 0;
} 